<div class="m-4">
	<div class="flex">
		<div class="w-2/3 p-4 text-gray-300">
			<h1 class="text-4xl border-b">The Team</h1>
			<div class="flex items-center text-gray-300 p-4">
				<img class="bg-white" src="../../assets/user.svg" alt="triangle with all three sides equal" height="87" width="100" />
				<h2 class="text-xl m-4">Eric Batista</h2>
			</div>
			<div class="p-4">
				<h3 class="uppercase text-sm">Departmental Generalissimo</h3>
				<p class="p-4">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, pariatur. Sit, error! Porro, libero. Quasi, fugit! Eius odit sed adipisci blanditiis tempora sequi libero eligendi consequatur tempore, explicabo sapiente magnam.
				</p>
			</div>
			<div class="flex items-center text-gray-300 p-4">
				<img class="bg-white" src="../../assets/user.svg" alt="triangle with all three sides equal" height="87" width="100" />
				<h2 class="text-xl m-4">Michael Glaser</h2>
			</div>
			<div class="p-4">
				<h3 class="uppercase text-sm">Data Wizardry</h3>
				<p class="p-4">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, pariatur. Sit, error! Porro, libero. Quasi, fugit! Eius odit sed adipisci blanditiis tempora sequi libero eligendi consequatur tempore, explicabo sapiente magnam.
				</p>
			</div>
			<div class="flex items-center text-gray-300 p-4">
				<img class="bg-white" src="../../assets/user.svg" alt="triangle with all three sides equal" height="87" width="100" />
				<h2 class="text-xl m-4">Roberto Garcia</h2>
			</div>
			<div class="p-4">
				<h3 class="uppercase text-sm">Chief Bottle Washer</h3>
				<p class="p-4">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, pariatur. Sit, error! Porro, libero. Quasi, fugit! Eius odit sed adipisci blanditiis tempora sequi libero eligendi consequatur tempore, explicabo sapiente magnam.
				</p>
			</div>
		</div>
		<div class="w-1/3 p-4 bg-white m-4 rounded-lg">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repellat itaque nostrum consectetur sed nam, laboriosam ipsam nihil recusandae quam, dolorem, tempore officia earum molestiae ab reprehenderit delectus aliquid porro.
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse repudiandae praesentium dignissimos quo repellendus earum omnis ipsa incidunt illum fugiat saepe itaque odio, commodi distinctio nobis sit nesciunt soluta eum.
			</p>
		</div>
	</div>
</div>
