<div class="px-4">
	<div class="bg-center bg-cover bg-no-repeat bg-img-pathway text-white rounded-2xl mx-auto my-8 p-8 text-center">
		<h1 class="tracking-widest text-3xl font-medium mb-2">Innovation Team</h1>
		<h2 class="font-medium text-sm mb-4 uppercase tracking-wide">City of Worcester, MA</h2>
		<p class="text-white text-sm rounded-full m-4">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea laboriosam ullam dolore necessitatibus corporis repellat ratione fugit laborum illo quidem. Harum repellendus eius reprehenderit earum laudantium explicabo quidem enim architecto.
		</p>
	</div>
	<div class="bg-white shadow-xl rounded-2xl mx-5 my-8 p-8">
		<h1 class="tracking-wide text-4xl">Our Mission</h1>
		<div class="grid grid-cols-3 m-4 p-4 rounded-2xl">
			<div class="mb-2">
				<strong>What We Do</strong>
				<p class="pl-2">
					Our primary focus is to improve city government services and operations that will ensure Worcester is well situated to address the needs of its residents, businesses, and visitors.
				</p>
			</div>
			<div class="mb-2">
				<strong>Why We Do It</strong>
				<p class="pl-2">
					Economic development and civic projects require that city government and departments are able to keep pace with the changing needs of its residents and businesses.
				</p>
			</div>
			<div class="mb-2">
				<strong>How We Do It</strong>
				<p class="pl-2">
					By implementing smart city solutions guided by data analysis, process improvement methodologies, and targeted technology platforms focused on scaling city services and operations scale as needed.
				</p>
			</div>
		</div>
		<hr>
		<div class="flex">
			<div class="rounded-2xl m-4 p-4 gap-2 grid lg:grid-cols-2 grid-cols-1">
				<div class="bg-gray-200 rounded-2xl items-center mb-4 p-4">
					<img class="p-2" src="../../assets/user.svg" alt="Avatar profile picture" height="87" width="100" />
					<h2 class="text-xl">Eric Batista</h2>
					<h3 class="uppercase italic text-sm">Director of Innovation</h3>
					<p class="p-2">
						As a native Worcesterite and City Hall veteran, Eric is a proud graduate of UMass Amhert and is focused on reenvisioning city operations and platforms to meet the needs and challenges of a revitalized Worcester. Having grown up in the city, he's also a vocal advocate of efforts to improve the lives of the city's youth.
					</p>
				</div>
				<div class="bg-gray-200 rounded-2xl items-center mb-4 p-4">
					<img class="p-2" src="../../assets/user.svg" alt="Avatar profile picture" height="87" width="100" />
					<h2 class="text-xl">Michael Glaser</h2>
					<h3 class="uppercase italic text-sm">Data Officer</h3>
					<p class="p-2">
						Mike came to the city to further his education at Clark University after recieving his bachelors from Notre Dame. As the city's data scientist, he brings a wide ranging and diverse perspective to data analysis brought about by his time in Africa with the Peace Corps and as an educator in Mauritania.
					</p>
				</div>
				<div class="bg-gray-200 rounded-2xl items-center mb-4 p-4">
					<img class="p-2" src="../../assets/user.svg" alt="Avatar profile picture" height="87" width="100" />
					<h2 class="text-xl">Zachary Whitney</h2>
					<h3 class="uppercase italic text-sm">Process Improvement Manager</h3>
					<p class="p-2">
						Zack is a graduate of Nicols College and holds two advanced degrees in business administration and organizational leadership.  He specializes in Lean Six Sigma management as well as process improvement and efficiency.
					</p>
				</div>
				<div class="bg-gray-200 rounded-2xl items-center mb-4 p-4">
					<img class="p-2" src="../../assets/user.svg" alt="Avatar profile picture" height="87" width="100" />
					<h2 class="text-xl">Roberto Garcia</h2>
					<h3 class="uppercase italic text-sm">Smart City Developer</h3>
					<p class="p-2">
						As the team's full stack web developer, Rob brings a wide range of expertise acquired as a career technologist in the biotech sector.  He previously specialized in the areas of networking, information security, and technical project management.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
