<div class="px-4">
	<div class="grid grid-cols-1 bg-center bg-cover bg-img-pathway bg-no-repeat text-white rounded-sm mx-auto my-8 p-8 text-center">
		<h1 class="tracking-widest text-3xl font-medium mb-2">Initiatives</h1>
		<h2 class="font-medium text-sm mb-4 uppercase tracking-wide">Office of Innovation</h2>
		<p class="text-sm rounded-full m-4">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea laboriosam ullam dolore necessitatibus corporis repellat ratione fugit laborum illo quidem. Harum repellendus eius reprehenderit earum laudantium explicabo quidem enim architecto.
		</p>
	</div>
	<!-- Row 1 -->
	<div class="bg-white shadow-xl rounded-sm mx-5 my-8 p-8 place-content-center">
		<h1 class="tracking-wide text-4xl text-center pb-2">Service Improvements</h1>
		<hr class="pb-4">
		<div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-5 pb-4">
			<!-- Card 1-->
			<div class="rounded overflow-hidden shadow-2xl bg-white">
				<img class="w-full bg-black" src="../../assets/digital-kiosk.jpg" alt="Image">
				<div class="px-6 py-4 bg-white">
					<h2 class="font-bold text-xl mb-2"><a class="hover:underline hover:text-green-700" href="http://www.worcesterma.gov/urban-innovation/document-center/digital-kiosk-rfi.pdf"> <fa-icon [icon]="faExternalLinkAlt" [styles]="{'color': 'green'}" size="sm"></fa-icon> Interactive Kiosk Demonstration Program - RFI</a></h2>
					<p class="text-gray-700 text-base">
						The City will utilize the Statement of Interest and Qualifications process to identify a demonstration partner with kiosk expertise and knowledge of how to effectively educate the public to the benefits of this technology. Read the Statement of Interest and Qualifications to learn more.
					</p>
				</div>
			</div>
			<!-- Card 2-->
			<div class="rounded overflow-hidden shadow-2xl bg-white">
				<img class="w-full object-fill bg-black" src="../../assets/jared-arango-1-mh6U3qeGQ-unsplash.jpg" alt="Image">
				<div class="px-6 py-4 bg-white">
					<h2 class="font-bold text-xl mb-2"><a class="hover:underline hover:text-green-700" href="http://www.worcesterma.gov/urban-innovation/document-center/digital-kiosk-rfi.pdf"> <fa-icon [icon]="faExternalLinkAlt" [styles]="{'color': 'green'}" size="sm"></fa-icon> Municipal Service Center</a></h2>
					<p class="text-gray-700 text-base">
						The City of Worcester is pleased to offer an easy to access municipal office location in the heart of Main South, which offers many popular services. Additionally, the extended office hours until 7 p.m. Monday through Friday ensures you'll be able to access these services when it's convenient for you!
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Row 2 -->
	<div class="bg-white shadow-xl rounded-sm mx-5 my-8 p-8 place-content-center">
		<h1 class="tracking-wide text-4xl text-center pb-2">Technology Platforms</h1>
		<hr class="pb-4">
		<div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-5 pb-4">
			<!-- Card 1-->
			<div class="rounded overflow-hidden shadow-2xl bg-white">
				<img class="w-full bg-black" src="../../assets/opendataportal.png" alt="Image">
				<div class="px-6 py-4 bg-white">
					<h2 class="font-bold text-xl mb-2"><a class="hover:underline hover:text-green-700" href="http://www.worcesterma.gov/urban-innovation/document-center/digital-kiosk-rfi.pdf"> <fa-icon [icon]="faExternalLinkAlt" [styles]="{'color': 'green'}" size="sm"></fa-icon> Informing Worcester - The City's Open Data Portal</a></h2>
					<p class="text-gray-700 text-base">
						Informing Worcester is the City's new open data portal. Functional transparency is a primary focus for Informing Worcester; however, it is also intended to become a platform upon which to showcase the City's data driven approach to meeting its challenges and strategic goals.
					</p>
				</div>
			</div>
			<!-- Card 2-->
			<div class="rounded overflow-hidden shadow-2xl bg-white">
				<img class="w-full object-fill bg-black" src="../../assets/govqa.jpg" alt="Image">
				<div class="px-6 py-4 bg-white">
					<h2 class="font-bold text-xl mb-2"><a class="hover:underline hover:text-green-700" href="http://www.worcesterma.gov/urban-innovation/document-center/digital-kiosk-rfi.pdf"> <fa-icon [icon]="faExternalLinkAlt" [styles]="{'color': 'green'}" size="sm"></fa-icon> GovQA - Public Records Request Portal</a></h2>
					<p class="text-gray-700 text-base">
						GovQA is an online public records request portal where the public can request municipal records maintained by the City of Worcester. It provides users with easy, fast and secure accessibility to public records. GovQA complements the City of Worcester's focus on transparency
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Row 3 -->
	<div class="bg-white shadow-xl rounded-sm mx-5 my-8 p-8 place-content-center">
		<h1 class="tracking-wide text-4xl text-center pb-2">Policy and Research</h1>
		<hr class="pb-4">
		<div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-5 pb-4">
			<!-- Card 1-->
			<div class="rounded overflow-hidden shadow-2xl bg-white">
				<img class="w-full bg-black" src="../../assets/jared-arango-1-mh6U3qeGQ-unsplash.jpg" alt="Image">
				<div class="px-6 py-4 bg-white">
					<h2 class="font-bold text-xl mb-2"><a class="hover:underline hover:text-green-700" href="http://www.worcesterma.gov/urban-innovation/document-center/digital-kiosk-rfi.pdf"> <fa-icon [icon]="faExternalLinkAlt" [styles]="{'color': 'green'}" size="sm"></fa-icon> Open Data Policy</a></h2>
					<p class="text-gray-700 text-base">
						Worcester recognizes Open Government as a key means for enabling public participation and effective government. The City is committed to expanding the data available to the public and providing the tools necessary for understanding and interpreting it.
					</p>
				</div>
			</div>
			<!-- Card 2-->
			<div class="rounded overflow-hidden shadow-2xl bg-white">
				<img class="w-full object-fill bg-black" src="../../assets/jared-arango-1-mh6U3qeGQ-unsplash.jpg" alt="Image">
				<div class="px-6 py-4 bg-white">
					<h2 class="font-bold text-xl mb-2"><a class="hover:underline hover:text-green-700" href="http://www.worcesterma.gov/urban-innovation/document-center/digital-kiosk-rfi.pdf"> <fa-icon [icon]="faExternalLinkAlt" [styles]="{'color': 'green'}" size="sm"></fa-icon> City of Worcester Strategic Plan</a></h2>
					<p class="text-gray-700 text-base">
						The City of Worcester Strategic Plan, developed and launched in fiscal year 2020 after public input through formatted focus groups and a City-wide survey, is a key complement to the City's future Master Plan and the Worcester Public Schools' Strategic Plan.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
