<div class="px-4">
	<div class="bg-cover bg-img-team text-white rounded-2xl mx-auto my-8 p-8 text-center">
		<h1 class="tracking-widest text-3xl font-medium mb-2">Initiatives</h1>
		<h2 class="font-medium text-sm mb-4 uppercase tracking-wide">Office of Innovation</h2>
		<p class="text-white text-sm rounded-full m-4">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea laboriosam ullam dolore necessitatibus corporis repellat ratione fugit laborum illo quidem. Harum repellendus eius reprehenderit earum laudantium explicabo quidem enim architecto.
		</p>
	</div>
	<div class="bg-white shadow-xl rounded-2xl mx-5 my-8 p-8">
		<h1>Interactive Kiosk Demonstration Program - RFI <fa-icon [icon]="faExtLinkAlt" size="xs"></fa-icon></h1>	
		<p>
			The City will utilize the Statement of Interest and Qualifications process to identify a demonstration partner with kiosk expertise and knowledge of how to effectively educate the public to the benefits of this technology.
		</p>
		<h1><strong>Informing Worcester</strong> - The City's Open Data Portal <fa-icon [icon]="faExtLinkAlt" size="xs"></fa-icon></h1>
		<p>
			Informing Worcester is the City's new open data portal. Functional transparency is a primary focus for Informing Worcester; however, it is also intended to become a platform upon which to showcase the City's data driven approach to meeting its challenges and strategic goals.
		</p>
		<h1>Open Data Policy <fa-icon [icon]="faExtLinkAlt" size="xs"></fa-icon></h1>
		<p>
			Worcester recognizes Open Government as a key means for enabling public participation and effective government. The City is committed to expanding the data available to the public and providing the tools necessary for understanding and interpreting it.
		</p>
		<h1>GovQA - Public Records Request Portal <fa-icon [icon]="faExtLinkAlt" size="xs"></fa-icon></h1>
		<p>
			GovQA is an online public records request portal where the public can request municipal records maintained by the City of Worcester. It provides users with easy, fast and secure accessibility to public records. GovQA complements the City of Worcester's focus on transparency.			
		</p>
		<h1>Municipal Service Center <fa-icon [icon]="faExtLinkAlt" size="xs"></fa-icon></h1>
		<p>
			The City of Worcester is pleased to offer an easy to access municipal office location in the heart of Main South, which offers many popular services. Additionally, the extended office hours until 7 p.m. Monday through Friday ensures you'll be able to access these services when it's convenient for you!
		</p>
		<h1>City of Worcester Strategic Plan <fa-icon [icon]="faExtLinkAlt" size="xs"></fa-icon></h1>
		<p>
			The City of Worcester Strategic Plan, developed and launched in fiscal year 2020 after public input through formatted focus groups and a City-wide survey, is a key complement to the City's future Master Plan and the Worcester Public Schools' Strategic Plan.
		</p>
	</div>
</div>
