<div class="px-4">
	<div class="bg-cover bg-img-team text-white rounded-2xl mx-auto my-8 p-8 text-center">
		<h1 class="tracking-widest text-3xl font-medium mb-2">Initiatives</h1>
		<h2 class="font-medium text-sm mb-4 uppercase tracking-wide">Office of Innovation</h2>
		<p class="text-white text-sm rounded-full m-4">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea laboriosam ullam dolore necessitatibus corporis repellat ratione fugit laborum illo quidem. Harum repellendus eius reprehenderit earum laudantium explicabo quidem enim architecto.
		</p>
	</div>
	<div class="bg-white shadow-xl rounded-2xl mx-5 my-8 p-8">
		<p>initiatives works!</p>	
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolores voluptas quaerat cumque minus, autem nulla pariatur delectus veniam iusto adipisci cum, aspernatur quasi temporibus blanditiis et nam totam. Inventore! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, porro. Dolores nemo mollitia necessitatibus! Libero, iusto! Animi sint aperiam velit ad dolorum unde harum eius sapiente odit molestias! Accusamus, ipsum!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vero, similique ex ipsam dignissimos quam explicabo dicta quisquam quia, eum necessitatibus doloribus qui distinctio libero, eius quasi repellendus magnam. Libero.
		</p>
	</div>	
</div>
