<nav class="bg-white shadow lg:block hidden">
	<div class="mx-auto container px-6 py-2 xl:py-0">
		<div class="flex items-center justify-between">
			<div class="flex-1 flex justify-between items-center">
				<img src="../../assets/cow_logo-InlineStyle.svg" alt="" height="175" width="200">
			</div>
			<div class="flex">
				<div class="hidden lg:flex md:mr-6 xl:mr-16">
					<a routerLink="/home" routerLinkActive="active" class="flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-button focus:text-gray-100 focus:outline-none transition duration-150 ease-in-out">Home</a>
					<a routerLink="/initiatives" routerLinkActive="active" class="flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-button focus:text-gray-100 focus:outline-none transition duration-150 ease-in-out">Initiatives</a>
					<a routerLink="/opendataportal" routerLinkActive="active" class="flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-button focus:text-gray-100 focus:outline-none focus:border-b-50 transition duration-150 ease-in-out">Open Data</a>
					<a routerLink="/bios" routerLinkActive="active" class="flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-button focus:text-gray-100 focus:outline-none transition duration-150 ease-in-out">The Team</a>
					<a href="http://worcesterma.gov" target="new" class="flex px-5 items-center py-6 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none transition duration-150 ease-in-out">WorcesterMA.gov</a>
				</div>
			</div>
		</div>
	</div>
</nav>
<nav>
	<div class="py-4 px-6 w-full flex lg:hidden justify-between items-center bg-white fixed top-0 z-40">
		<div class="flex-1 flex justify-between items-center">
			<img src="../../assets/cow_logo-InlineStyle.svg" alt="" height="175" width="200">
		</div>
		<div class="flex items-center">
			<!-- Hamburger icon -->
			<div id="menu" class="text-gray-800" (click)="isMenu=true">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24"
					viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
					stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<line x1="4" y1="6" x2="20" y2="6" />
					<line x1="4" y1="12" x2="20" y2="12" />
					<line x1="4" y1="18" x2="20" y2="18" />
				</svg>
			</div>
		</div>
	</div>
	<!--Mobile responsive sidebar-->
	<div *ngIf="isMenu" class="absolute w-full h-full z-40 xl:hidden" id="mobile-nav">
		<div class="bg-gray-800 opacity-50 w-full h-full mt-4" (click)="isMenu=false"></div>
		<div
			class="w-64 fixed overflow-y-auto z-40 top-0 bg-white shadow h-full flex-col justify-between xl:hidden pb-4 transition duration-150 ease-in-out">
			<div class="px-6 h-full">
				<div class="flex flex-col justify-between h-full w-full">
					<div>
						<div class="flex-1 flex justify-between items-center pt-2">
							<img src="../../assets/cow_logo-InlineStyle.svg" alt="" height="175" width="200">
							<div id="cross" class="text-gray-800" (click)="isMenu=false">
								<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
										width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
										stroke="currentColor" fill="none" stroke-linecap="round"
										stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z"></path>
										<line x1="18" y1="6" x2="6" y2="18"></line>
										<line x1="6" y1="6" x2="18" y2="18"></line>
								</svg>
							</div>
						</div>					
						<ul class="f-m-m">
							<a class="cursor-pointer">
								<li class="text-gray-800 pt-10">
									<div class="flex items-center">
										<a routerLink="/home" routerLinkActive="active" (click)="isMenu=false" class="block lg:p-2 py-1 px-0 text-gray-800 xl:text-base md:text-2xl text-base ml-3 hover:bg-gray-100">Home</a>
									</div>
								</li>
							</a>
							<a class="cursor-pointer">
								<li class="text-gray-800 pt-8">
									<div class="flex items-center justify-between">
										<a routerLink="/initiatives" routerLinkActive="active" (click)="isMenu=false" class="block lg:p-2px-0 text-gray-800 xl:text-base md:text-2xl text-base ml-3 hover:bg-gray-100">Initiatives</a>
									</div>
								</li>
							</a>
							<a class="cursor-pointer">
								<li class="text-gray-800 pt-8">
									<div class="flex items-center justify-between">
										<div class="flex items-center">
											<a routerLink="/opendataportal" routerLinkActive="active" (click)="isMenu=false" class="block lg:p-2px-0 text-gray-800 xl:text-base md:text-2xl text-base ml-3 hover:bg-gray-100">Open Data</a>
										</div>
									</div>
								</li>
							</a>
							<a class="cursor-pointer">
								<li class="text-gray-800 pt-8">
									<div class="flex items-center">
										<a routerLink="/bios" routerLinkActive="active" (click)="isMenu=false" class="p-2 py-1 px-0 text-gray-800 xl:text-base md:text-2xl text-base ml-3 hover:bg-gray-100">The Team</a>
									</div>
								</li>
							</a>
							<li class="text-gray-800 pt-8 cursor-pointer">
								<div class="flex items-center justify-between">
									<div class="flex items-center">
										<a href="http://worcesterma.gov" target="new" class="block lg:p-2 py-1 px-0 text-gray-800 xl:text-base md:text-2xl text-base ml-3 hover:bg-gray-100">WorcesterMA.gov</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
