<app-navbar></app-navbar>
<div class="px-4 filter sepia">
	<div class="max-w-3xl bg-white rounded-lg mx-auto my-16 p-16">
		<h1 class="text-2xl font-medium mb-2">Innovation Office</h1>
		<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide">City of Worcester, MA</h2>
		<p class="text-black">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum labore error doloribus voluptatum maxime incidunt natus. In quibusdam voluptate reprehenderit praesentium autem incidunt, nihil soluta assumenda officia cum ab iusto.
		</p>
	</div>
</div>
