<div class="max-w-max m-4 p-4">
	<h1 class="text-4xl text-gray-300 border-b-4 mb-4">Open Data Portal</h1>
	<div class="grid lg:grid-cols-3 grid-cols-1 bg-white">
		<div class="m-4 gap-6 bg-gray-300 rounded-2xl mx-5 my-8 p-8 shadow-2xl">
			<h2 class="text-center border-b border-black mb-4">Visualizations</h2>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, eveniet blanditiis. Hic, architecto. Dicta velit aspernatur, doloremque quasi, quam rem expedita incidunt, in qui fugit non error aut facilis animi?
		</div>
		<div class="m-4 gap-6 bg-gray-300 rounded-2xl mx-5 my-8 p-8 shadow-2xl">
			<h2 class="text-center border-b border-black mb-4">Dataset Statistics</h2>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum esse ab eos. Quisquam commodi possimus, quasi asperiores itaque laboriosam, est, quae veritatis maxime earum quas officia fugiat aperiam recusandae minus!
		</div>
		<div class="m-4 gap-6 bg-gray-300 rounded-2xl mx-5 my-8 p-8 shadow-2xl">
			<h2 class="text-center border-b border-black mb-4">Showcase</h2>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptas magni perspiciatis ducimus blanditiis sed id nostrum, odit molestiae rerum pariatur, ipsa quis laborum voluptatum iure, deserunt enim aliquid reprehenderit?
		</div>
	</div>
	<div class="flex col-auto items-center bg-white">
		<div class="m-4 gap-6 bg-gray-300 rounded-2xl mx-5 my-8 p-8 shadow-2xl">
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde reiciendis ipsum aliquid vel eveniet dolores inventore nobis quas! Temporibus sunt maiores in quidem, quam laborum voluptatibus eaque doloribus optio repellat!
			</p>
		</div>
	</div>
</div>
