/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Oswald&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Oswald&family=Roboto&display=swap');

body {
	background-color: #f7fff7;
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-family: 'Oswald', sans-serif;
	font-size: larger;
}

button {
	font-family: 'Merriweather', sans-serif;
}

.tooltip {
	@apply invisible absolute;
}

.has-tooltip:hover .tooltip {
	@apply visible z-50
}
