<div class="px-4">
	<div
		class="grid grid-cols-1 bg-center bg-cover bg-img-pathway bg-no-repeat text-white rounded-sm mx-auto my-8 p-8 text-center">
		<h1 class="tracking-widest text-3xl font-medium mb-2">Office of Urban Innovation</h1>
		<h2 class="font-medium text-sm mb-4 uppercase tracking-wide">City of Worcester, MA</h2>
		<p class="text-white text-sm rounded-full m-4">
			The Office of Urban Innovation is committed to creating an infrastructure where we begin to look at innovative ways to improve service delivery and get Worcester moving in the direction of creating a Smart City.
		</p>
	</div>
	<div class="bg-white shadow-xl rounded-sm mx-5 my-8 p-8">
		<h1 class="tracking-wide text-4xl">Data Driven Government</h1>
		<p>
			Through the use of data analytics, process engineering, performance measures and Smart-Cities solutions, the Office of Urban Innovation strives to boost customer service and save taxpayer money through greater accountability and improved efficiency.
		</p>
		<div class="flex flex-wrap items-center m-2">
			<div class="w-full lg:pr-20 md:pr-10 sm:pr-0 pr-0">
				<div class="py-2 text-color">
					<img class="flex flex-wrap float-right p-2" width="540" height="540" 
					src="../../assets/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="" />		
					<p class="m-4">
						This office will focus on three main objectives: 
					</p>
					<ol class="ml-12 list-decimal">
						<li>Develop performance management processes with departments.</li>
						<ul class="ml-6 list-disc">
							<li>Design and establish a performance measure program, which will use data to understand and measure areas of underperformance and improve service throughout city government.</li>
							<li>Design and establish an Open Data Portal and Dashboard for greater transparency and communication with the public.</li>
						</ul>
						<li>Create and establish LEAN Management Principles to address some of the City's most challenging operational and customer service issues.</li>
						<li>Create a Smart Cities team that works on innovative solutions using technology to leverage new opportunities and development.</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="rounded-sm grid grid-cols-1">
			<div class="bg-gray-200 shadow-xl rounded-sm m-2 p-4">
				<h1 class="text-xl font-medium border-solid border-black border-b-2 text-center">
					Informing Worcester
				</h1>
				<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide">City Data at your Finger Tips
				</h2>
				<p>
					<span class="text-lg">Informing Worcester</span> is the City's publicly accessible open data portal. This portal is a means by which city government can provide free and easy access to city data. No registration is required for access.
					</p>
					<p>The portal currently has <span class="text-md italic font-extrabold text-red-600">{{ totalDatasets }}</span> datasets containing over <span class="text-md italic font-extrabold text-red-600">{{ totalRecords.toLocaleString('en', {useGrouping: true}) }}</span> records of city data.  The Innovation Office team is continually working to increase the available data with new additions. Visit the portal to see what it has to offer.
				</p>
				<h1 class="text-xl font-medium mb-2 text-center">
					See What's New and Recently Updated
				</h1>
				<div class="rounded-sm grid lg:grid-cols-3 grid-cols-1 gap-2 place-content-center">
					<div class="grid-cols-1 text-center">
						<button
							class="m-2 text-white bg-button hover:bg-gray-700 rounded-sm shadow-xl hover:text-opacity-100 text-md lg:p-2 py-1 px-0"><a href="https://opendata.worcesterma.gov/group/public-safety" target="new">Public Safety
							</a>
						</button>
					</div>
					<div class="grid-cols-1 text-center">
						<button
							class="m-2 text-white bg-button hover:bg-gray-700 rounded-sm shadow-xl hover:text-opacity-100 text-md lg:p-2 py-1 px-0"><a href="https://opendata.worcesterma.gov/dataset/csrs-work-orders" target="new">Customer Service</a>
						</button>
					</div>
					<div class="grid-cols-1 text-center">
						<button
							class="m-2 text-white bg-button hover:bg-gray-700 rounded-sm shadow-xl hover:text-opacity-100 text-md lg:p-2 py-1 px-0"><a href="https://opendata.worcesterma.gov/group/development" target="new">Development</a>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="rounded-sm grid lg:grid-cols-3 grid-cols-1 m-2 p-4">
			<a routerLink="/initiatives" class="pb-6">
				<div class="bg-gray-200 max-w-2xl shadow-xl rounded-sm mb-4 mx-5 p-8 h-full">
					<h1 class="text-xl font-medium mb-2 border-solid border-black border-b-2 text-center">
						Initiatives
					</h1>
					<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide">What's Next for Worcester?</h2>
					<p class="text-black text-sm">
						We work with city leadership and departments to provide smart city solutions to current challenges. Our efforts range from advocating for new policy proposals to creative solutions to enhance city operations and services.
					</p>
				</div>
			</a>
			<a routerLink="/bios" class="pb-6">
				<div class="bg-gray-200 max-w-2xl shadow-2xl rounded-sm mb-4 mx-5 p-8 h-full">
					<h1 class="text-xl font-medium mb-2 border-solid border-black border-b-2 text-center">
						Our Team
					</h1>
					<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide"><span></span>Staff Bios
					</h2>
					<p class="text-black text-sm">
						Ideas are critical but it takes people to make them a reality. Meet the team at the Innovation Office dedicated to using modern best practices, and new technologies to continuosly improve City of Worcester services.
					</p>
				</div>
			</a>
			<div class="bg-gray-200 max-w-2xl shadow-xl rounded-sm mb-4 mx-5 p-8">
				<h1 class="text-xl font-medium mb-2 border-solid border-black border-b-2 text-center">
					Contact Us
				</h1>
				<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide">Contact Information</h2>
				<p class="text-black text-sm">
					The Innovation Office is located at Worcester City Hall and open during normal operating hours.  Contact us via the telephone number or email address listed below.
				</p>
				<p class="text-sm text-center">
					<a href="tel:5087991175">
						(<fa-icon [icon]="faPhoneAlt" size="sm"></fa-icon>) 508-799-1175
					</a><br>
					<a href="mailto:innovation@worcesterma.gov">
						(<fa-icon [icon]="faEnvelope" size="sm"></fa-icon>) Email Us
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
