<div>
	<!-- <h1 class="bg-red-400 text-center">Home component</h1> -->
	<div class="px-4 filter sepia">
		<div class="bg-white rounded-2xl mx-auto my-8 p-8 text-center">
			<h1 class="text-xl font-medium mb-2">Innovation Office</h1>
			<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide">City of Worcester, MA</h2>
			<p class="text-black text-sm">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea laboriosam ullam dolore necessitatibus corporis repellat ratione fugit laborum illo quidem. Harum repellendus eius reprehenderit earum laudantium explicabo quidem enim architecto.
			</p>
		</div>
	</div>
	<div class="grid lg:grid-cols-3 grid-cols-1">
		<div>
			<a routerLink="/bios">
				<div class="max-w-2xl bg-white rounded-2xl mx-5 my-8 p-8">
					<h1 class="text-xl font-medium mb-2 border-solid border-black border-b-2 text-center">Our Team</h1>
					<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide">Nerd Biographies</h2>
					<p class="text-black text-sm">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea laboriosam ullam dolore necessitatibus corporis repellat ratione fugit laborum illo quidem. Harum repellendus eius reprehenderit earum laudantium explicabo quidem enim architecto.
					</p>
				</div>
			</a>
		</div>
		<div>
			<a routerLink="/opendataportal">
				<div class="max-w-2xl bg-white rounded-2xl mx-5 my-8 p-8">
					<h1 class="text-xl font-medium mb-2 border-solid border-black border-b-2 text-center">Open Data Portal</h1>
					<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide">City Data at your Finger Tips</h2>
					<p class="text-black text-sm">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, quisquam dolores veniam vel asperiores unde nesciunt earum nulla sequi enim excepturi molestias dolor quod delectus obcaecati non numquam est aliquam.
					</p>
				</div>
			</a>
		</div>
		<div>
			<a routerLink="/home">
				<div class="max-w-2xl bg-white rounded-2xl mx-5 my-8 p-8">
					<h1 class="text-xl font-medium mb-2 border-solid border-black border-b-2 text-center">Innovation Initiatives</h1>
					<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide">What's Next for Worcester?</h2>
					<p class="text-black text-sm">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere est laborum incidunt, repudiandae assumenda vel molestiae aliquam maxime consectetur velit veniam nobis officiis vero voluptate mollitia. Odit corporis accusamus minima?
					</p>
				</div>
			</a>
		</div>
	</div>
</div>
