<div class="px-4">
	<div
		class="grid grid-cols-1 bg-center bg-cover bg-img-pathway bg-no-repeat text-white rounded-2xl mx-auto my-8 p-8 text-center">
		<h1 class="tracking-widest text-3xl font-medium mb-2">Office of Urban Innovation</h1>
		<h2 class="font-medium text-sm mb-4 uppercase tracking-wide">City of Worcester, MA</h2>
		<p class="text-white text-sm rounded-full m-4">
			The Office of Urban Innovation is committed to creating an infrastructure where we begin to look at innovative ways to improve service delivery and get Worcester moving in the direction of creating a Smart City.
		</p>
	</div>
	<div class="bg-white shadow-xl rounded-2xl m-2 p-4">
		<div class="container mx-auto">
			<h1 class="tracking-wide text-4xl">Data Driven Government</h1>
			<p>
				Through the use of data analytics, process engineering, performance measures and Smart-Cities solutions, the Office of Urban Innovation strives to boost customer service and save taxpayer money through greater accountability and improved efficiency.
			</p>
			<div class="flex flex-wrap items-center m-2">
				<div class="md:w-1/2 w-full lg:pr-20 md:pr-10 sm:pr-0 pr-0">
					<div class="py-2 text-color">
						<p class="m-4">
							This office will focus on three main objectives:
						</p>
						<ol class="ml-12 list-decimal">
							<li>Develop performance management processes with departments.</li>
							<ul class="ml-6 list-disc">
								<li>Design and establish a performance measure program, which will use data to understand and measure areas of underperformance and improve service throughout city government.</li>
								<li>Design and establish an Open Data Portal and Dashboard for greater transparency and communication with the public.</li>
							</ul>
							<li>Create and establish LEAN Management Principles to address some of the City's most challenging operational and customer service issues.</li>
							<li>Create a Smart Cities team that works on innovative solutions using technology to leverage new opportunities and development.</li>
						</ol>
					</div>
				</div>
				<div class="md:w-1/2 w-full relative h-96 flex items-end justify-center">
					<img class="absolute w-full h-full inset-0 object-cover object-center rounded-md"
						src="../../assets/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="" />
				</div>
			</div>
		</div>
		<div class="rounded-2xl grid grid-cols-1">
			<div class="bg-gray-200 shadow-xl rounded-2xl m-2 p-4">
				<h1 class="text-xl font-medium border-solid border-black border-b-2 text-center">
					Open Data Portal
				</h1>
				<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide">City Data at your Finger Tips
				</h2>
				<p class="text-black text-sm">
					<strong>Informing Worcester</strong> is the City of Worcester publicly accessible open data portal. The portal is a means by which city government can provide transparency to residents and businesses. No registration is required for access.
				</p>
				<h1 class="text-xl font-medium mb-2 text-center">
					See What's New and Recently Updated
				</h1>
				<div class="rounded-2xl grid lg:grid-cols-3 grid-cols-1 gap-2 place-content-center">
					<div class="grid-cols-1 text-center">
						<button class="m-2 text-white bg-button hover:bg-gray-700 rounded-xl hover:text-opacity-100 text-md lg:p-2 py-1 px-0">
							Public Safety
						</button>
					</div>
					<div class="grid-cols-1 text-center">
						<button class="m-2 text-white bg-button hover:bg-gray-700 rounded-xl hover:text-opacity-100 text-md lg:p-2 py-1 px-0">
							Customer Service
						</button>
					</div>
					<div class="grid-cols-1 text-center">
						<button class="m-2 text-white bg-button hover:bg-gray-700 rounded-xl hover:text-opacity-100 uppercase text-md lg:p-2 py-1 px-0">
							Surprise Me
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="rounded-2xl grid lg:grid-cols-3 grid-cols-1 m-2 p-4">
			<a routerLink="/initiatives">
				<div class="bg-gray-200 max-w-2xl shadow-xl rounded-2xl mb-4 mx-5 p-8">
					<h1 class="text-xl font-medium mb-2 border-solid border-black border-b-2 text-center">
						Innovation Initiatives
					</h1>
					<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide">What's Next for Worcester?</h2>
					<p class="text-black text-sm">
						We work with city leadership and departments to provide smart city solutions to current challenges. Our efforts range from advocating for new policy proposals to creative solutions to enhance city operations and services.
					</p>
					<button>Click Here</button>
				</div>
			</a>
			<a routerLink="/bios">
				<div class="bg-gray-200 max-w-2xl shadow-2xl rounded-2xl mb-4 mx-5 p-8">
					<h1 class="text-xl font-medium mb-2 border-solid border-black border-b-2 text-center">
						Our Team
					</h1>
					<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide"><span></span>Staff Bios
					</h2>
					<p class="text-black text-sm">
						Ideas are critical but it takes people to make them a reality. The Innovation Office is comprised of staff members dedicated to the idea that city goverment can use data analysis and new technologies to continuosly improve its services.
					</p>
					<button>Click Here</button>
				</div>
			</a>
			<div class="bg-gray-200 max-w-2xl shadow-xl rounded-2xl mb-4 mx-5 p-8">
				<h1 class="text-xl font-medium mb-2 border-solid border-black border-b-2 text-center">
					Contact Us
				</h1>
				<h2 class="font-medium text-sm text-indigo-400 mb-4 uppercase tracking-wide">Citizen Engagement</h2>
				<p class="text-black text-sm">
					Office of Urban Innovation <br>
					City Hall Room 312 <br>
					455 Main Street <br>
					Worcester, MA 01506 <br>
					Phone: 508-799-1175 <br>
					<a href="mailto:innovation@worcesterma.gov">Email Us</a>
					Office Hours: <br>
					Monday-Friday <br>
					8:30 a.m. - 5 p.m. <br>
				</p>
				<button>Click Here</button>
			</div>
		</div>
	</div>
</div>
